<div class="container main round">
  <div class="top-bun round">
    <span class="align-middle"><h1>EAT-A-BURGER</h1></span>
  </div>

  <div class="patty add-burger round">
    {{!-- ADD A BURGER FORM - WILL WANT IT TO BE IN-LINE --}}
    <form class="create-form mx-auto" style="width: 400px;">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" id="burger" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
            name="name">
          <div class="input-group-prepend">
            <span type="submit" class="input-group-text" id="inputGroup-sizing-default">Add Burger</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container sub-sections round">
    <div class="row">
      {{!-- LEFT SIDE OF THE DESIGN --}}
      <div class="burgers fresh_burgers col-md-6 col-sm-12 col-xs-12 round">
        <h2 class="burger_headers">Fresh Burgers Here!</h2>
        <ul class="list-group">
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>

      {{!-- RIGHT SIDE OF THE DESIGN --}}
      <div class="burgers devoured_burgers col-md-6 col-sm-12 col-xs-12 round">
        <h2 class="burger_headers">Devoured Burgers</h2>
        <ul class="list-group">
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
  <div class="bottom-bun round"></div>
</div>