<div class="container main">
  <div class="top-bun">  
    <h1>EAT-A-BURGER</h1>
  </div>  
  
  <div class="patty add-burger">
    {{!-- ADD A BURGER FORM - WILL WANT IT TO BE IN-LINE --}}
    <h2>Add-A-Burger</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>


  <div class="container sub-sections">

    {{!-- LEFT SIDE OF THE DESIGN --}}
    <div class="burgers fresh_burgers">
      <h2 class="burger_headers">Fresh Burgers Here!</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    {{!-- RIGHT SIDE OF THE DESIGN --}}
    <div class="burgers devoured_burgers">
      <h2 class="burger_headers">Devoured Burgers</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="bottom-bun">
    
  </div>
</div>