/* * {
  border: 1px dashed red;
} */

.container {
  display: flex;
  flex-direction: column;
}

.burgers {
  width: 48%;
  font-family: sans-serif;
  background: rgb(19, 156, 19);
}

.add-burger {
  display: block;
}

.sub-sections {
  width: 98%;
  background: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-self: center;
}

.top-bun {
  height: 150px;
  background: rgb(255, 208, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bun h1 {
  font-size: 8vw;
}

.patty {
  background: brown;
}

.bottom-bun {
  height: 100px;
  background: rgb(255, 208, 0);
}

.burgers li  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: red;
  list-style-type: none;
  height: 30px;
  left: -20px;
}

.burgers li button {
  height: 20px;
}

.form-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: red;
  list-style-type: none;
  height: 50px;
  width: 50%;
}

.form-group button {
  display: inline;
}

.eat_or_delete {
  display: inline;
}

.hide {
  display: none;
}

h4 {
  display: inline;
}

h1, h2{
  font-family: sans-serif;
  text-align: center;
}