/* * {
  border: 1px dashed red;
} */

body {
  background: aliceblue;
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
}

.main {
  margin-top: 24px;
}

.round {
  border-radius: 20px;
}

.burgers {
  /* width: 48%; */
  font-family: sans-serif;
  padding-bottom: 20px;
  background: brown;
}

.add-burger {
  display: block;
}

.sub-sections {
  /* width: 98%; */
  background: brown;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap;
  justify-content: space-between; 
  align-self: center; */
}

.top-bun {
  height: 150px;
  background: rgb(255, 208, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bun h1 {
  font-size: 8vw;
  font-family: 'Exo', sans-serif;
}

.patty {
  padding: 10px 0 10px 0;
  background: rgb(19, 156, 19);
  height: 100%;
  
  justify-content: center;
  align-items: center;
}

.create-form {
  width: 60%;
}

.bottom-bun {
  height: 100px;
  background: rgb(255, 208, 0);
}

.burgers li  {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between;
  align-items: center;
  position: relative;
  color: red;
  list-style-type: none; */
  /* height: 30px; */
  /* left: -20px; */
}

.burgers li button {
  margin-right: 10px;
}

.btn-outline-danger {
  margin-left: 10px;
  float: right;;
}

.form-group {
  margin-top: 1rem;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between;
  align-items: center;
  position: relative;
  color: red;
  list-style-type: none;
  height: 50px;
  width: 50%; */
}

.form-group button {
  display: inline;
}

.eat_or_delete {
  /* display: inline; */
}

.hide {
  display: none;
}

h4 {
  display: inline;
  font-size: 12pt;
}

h1, h2{
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

h2 {
  color: beige;
  margin-top: 5px;
}